<launch>
  <!-- Arguments -->
  <arg name="map_file" default="$(find malak_nav)/maps/map.yaml"/>
  <arg name="open_rviz" default="true"/>
  <arg name="move_forward_only" default="false"/>
  <param name="/use_sim_time" value="true"/>

  <!-- Turtlebot3 -->
  <include file="$(find malak_control)/launch/control.launch"/>

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)">
    <param name="frame_id" value="map"/>
  </node>

<!--  <node pkg="tf" type="static_transform_publisher" name="map_odom_broadcaster"-->
<!--      args="0 0 0 0 0 0 map odom 100"/>-->


  <!-- AMCL -->
  <include file="$(find malak_nav)/launch/amcl.launch"/>


  <!-- move_base -->
  <include file="$(find malak_nav)/launch/move_base.launch">
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
  </include>

  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true" args="-d $(find malak_nav)/rviz/malak_navigation.rviz"/>
  </group>
</launch>
