<?xml version="1.0" ?>
<robot name="test2" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find test2_description)/urdf/materials.xacro" />
<xacro:include filename="$(find test2_description)/urdf/test2.trans" />
<xacro:include filename="$(find test2_description)/urdf/test2.gazebo" />
<link name="base_link">
  <inertial>
    <origin rpy="0 0 0" xyz="0.03170485971827931 0.1067048597182795 0.10670485971827923"/>
    <mass value="17.24134389566749"/>
    <inertia ixx="0.120938" ixy="-0.007895" ixz="-0.007895" iyy="0.072919" iyz="-0.007895" izz="0.072919"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <geometry>
      <mesh filename="package://test2_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <geometry>
      <mesh filename="package://test2_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

</robot>
